

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.address-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.address-form__post,
.address-form__residence,
.address-form__building{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin: 50px 0;
}

.address-form__post-label,
.address-form__residence-label,
.address-form__building-label {
    font-weight: bold;
}

.address-form__post-item,
.address-form__residence-item,
.address-form__building-item,
.address-form__button-item{
    width: 500px;
    height: 30px;
}



.address-form__button-item {
    background-color: red;
    border: none;
    color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}

