.header {
    max-width: 100%;
    background-color: black;
}

.header-inner {
    display: flex;
    align-items: center;
    padding: 5px;
    max-width: 100%;
    justify-content: space-between;
}

.header-inner__search {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.header-inner__search-input {
    width: 300px;
    margin: 0 20px;
}

.header-inner__metastasis {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-inner__metastasis-logout--link {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.header-inner__metastasis-page--link {
    color: white;
    text-decoration: none;
}

.header-inner__metastasis-listing--button {
    width: 50px;
    background-color: white;
    border-radius: 5px;
}

.buy {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buy-content__product{
    display: flex;
    margin-top: 20px;
    width: 400px;
    height: 200px;
    background-color: antiquewhite;
}

.buy-content__product-name--item{
    fo
}

.buy-content__product-image{
    width: 100px;
    height: 100px;
    background-color: gainsboro;
    margin-right: 30px;
}