.header {
    max-width: 100%;
    background-color: black;
}

.header-inner {
    display: flex;
    align-items: center;
    padding: 5px;
    max-width: 100%;
    justify-content: space-between;
}

.header-inner__search {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.header-inner__search-input {
    width: 300px;
    margin: 0 20px;
}

.header-inner__metastasis {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-inner__metastasis-logout--link {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.header-inner__metastasis-page--link {
    color: white;
    text-decoration: none;
}

.header-inner__metastasis-listing--button {
    width: 50px;
    background-color: white;
    border-radius: 5px;
}

.detail{
    display: flex;
    justify-content: center;
}

.detail-img{
    width: 300px;
    height: 300px;
    background-color: gainsboro;
    margin: 60px 30px;
}

.detail-content{
    margin-left: 20px;
    margin-top: 40px;
}

.detail-content__product-name--title{
    font-size: 20px;
    margin-bottom: 0px;
}

.detail-content__product-name--brand{
    margin-top: 0px;
    font-size: 10px;
}

.detail-content__product-evaluation{
    display: flex;
}

.detail-content__product-evaluation--nice,
.detail-content__product-evaluation--comment{
    margin: 0 10px;
}

.detail-content__product-evaluation--nice-button{
    background-color: transparent;
    border: none;
}

.detail-content__product-evaluation--comment-button-img,
.detail-content__product-evaluation--nice-button-img{
    height: 20px;
    width: 20px;
}

.detail-content__product-evaluation--comment-count,
.detail-content__product-evaluation--nice-count{
    font-size: 15px;
    text-align: center;
}

.detail-content__information-button--item{
    background-color: red;
    color: #ffffff;
    padding: 5px 100px;
}

.detail-content__information-index--item{
    font-size: 20px;
}

.detail-content__information-explanation--item{
    background-color: antiquewhite;
    height: 300px;
    width: 300px;
}

.detail-content__information-category--label,
.detail-content__information-status--label{
    font-size: 15px;
    font-weight: bold;
}

.detail-content__comment-existing--icon-img{
    padding: 50px 20px;
    background-color: lightsteelblue;
    border-radius: 50%;
}

.detail-content__comment-existing--message{
    width: 300px;
    height: 25px;
    background-color: antiquewhite;
    margin: ;
}