
.email{
    
    height: 100%;
    width: 100%;
}

.email-function{
    text-align: center;
    margin-top: auto;
}

.email-function__message-item{
    font-weight: bold;
}

.email-function__certification-item{
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px;
    height: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.email-function__resend-item{
    
}