


.product-tag{
    border-bottom: 1px solid #333;
}

#myListBtn,
#recommendationBtn{
    text-decoration: none;
    background-color: transparent;
    
    
    font-weight: bold;
    color: grey;
}

#myListBtn.active,
#recommendationBtn.active{
    color: red;
}

.product-list {
    position: relative;
}

.product-list__myList,
.product-list__recommendation{
    padding: 30px;
}

.product-list__myList-card{
    width: 200px;
    height: 200px;
    text-decoration: none;
}

.product-list__recommendation-card{
    text-decoration: none;
}

.product-list__recommendation-card--img,
.product-list__myList-card--img{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}



.product-list__recommendation-card--img-item,
.product-list__myList-card--img-item{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product-list__recommendation-card--content-sold,
.product-list__myList-card--img-sold {
    background-color: red;
    color: white;
    position: absolute;
    top: 40%;
    /* 上からの距離を調整 */
    right: 10px;
    width: 90%;
    text-align: center;
}

.product-list__recommendation-card--content,
.product-list__myList-card--content {
    margin-top: 10px; /* 画像下に余白 */
}

.product-list__recommendation-card--content-name,
.product-list__myList-card--content-name{
    color: black;
    position: relative;
}



/* 初期状態ではおすすめが表示されている例 */
.product-list__myList,
.product-list__recommendation {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
    display: flex;
        /* 横並びにする */
        flex-wrap: wrap;
        /* 必要なら折り返す */
        gap: 10px;
        /* アイテム間の余白（調整可能） */
}





/* 両方のリストを絶対配置にして重ねる */
.product-list__recommendation,
.product-list__myList {
    position: absolute;
    top: 0;
    left: 0;
    /* 必要に応じて折り返す */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}






