.header {
    max-width: 100%;
    background-color: black;
}

.header-inner {
    display: flex;
    align-items: center;
    padding: 5px;
    max-width: 100%;
    justify-content: space-between;
}

.header-inner__search {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.header-inner__search-input {
    width: 300px;
    margin: 0 20px;
}

.header-inner__metastasis {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-inner__metastasis-login,
.header-inner__metastasis-logout--link {
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    margin: 20px;
}

.header-inner__metastasis-page--link {
    color: white;
    text-decoration: none;
}

.header-inner__metastasis-listing--button {
    width: 50px;
    background-color: white;
    border-radius: 5px;
}

.product-list{
    position: relative;
    height: auto;
}

.product-recommendation{
    position: absolute;
    top: 20px;
    left: ;
    width: 100%;
}

.product-mylist{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.product-tag{
    border-bottom: 1px solid #333
}

.product-tag__recommendation,
.product-tag__myList{
    border: none;
    background-color: transparent;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
    color: grey;
}

.product-recommendation__card,
.product-myList__card{
    width: 160px;
    margin: 20px;
    text-decoration: none;
}

.product-recommendation__card-img{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.product-recommendation__card-img--item,
.product-myList__card-img--item{
    width: 100%;
}

.product-recommendation__card-content--name{
    color: black;
}