
.profile-image__icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image__icon-item{
    background-color: gainsboro;
    width: 100px;
    height: 100px;
    margin: 40px 20px;
    border-radius: 50%;
}

.profile-image__icon-label{
    font-weight: bold;
}

.profile-image__icon-link{
    margin: 0px 100px;
    border: 1px solid red ;
    border-radius: 5px;
    padding: 5px;
}

.profile-image__icon-link--item{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.profile-tag {
    border-bottom: 1px solid #333;
}

.profile-tag__badge{
    color: white;
    background-color: red;
    padding: 3px 5px;
    border-radius: 50%;
}

#ListingBtn,
#purchaseBtn,
#transactionBtn {
    text-decoration: none;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
    color: grey;
}

#ListingBtn.active,
#purchaseBtn.active,
#transactionBtn.active {
    color: red;
}

.profile-list__purchase,
.profile-list__Listing,
profile-list__transaction{
    display: flex;
    flex-wrap: wrap;
}

.profile-list__purchase-card,
.profile-list__Listing-card,
.profile-list__transaction-card {
    text-decoration: none;
    margin: 40px 40px;
}

.profile-list__Listing-card--img-item,
.profile-list__purchase-card--img-item,
.profile-list__transaction-card--img-item {
    width: 200px;
    height: 200px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: gainsboro;
    position: absolute;
}

.profile-list__Listing-card--none,
.profile-list__purchase-card--none,
.profile-list__transaction-card--none {
    color: black;
    margin: 20px 20px;
}

.profile-list__transaction-card--img-item-badge




