.header {
    max-width: 100%;
    background-color: black;
}

.header-title {
    padding: 5px;
}

.register{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 500px;
}

.register-form label{
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input{
    padding: 8px;
    font-size: 16px;
    width: 100%;
}