.header {
    max-width: 100%;
    background-color: black;
}

.header-title {
    padding: 5px;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.setting-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setting-form__icon,
.setting-form__name,
.setting-form__post,
.setting-form__address,
.setting-form__building,
.setting-form__button {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 450px;
}

.setting-form__icon-label
.setting-form__name-label,
.setting-form__post-label,
 {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form__email-item,
.login-form__password-item {
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.login-form__button {
    margin-top: 30px;
}

.login-form__button-item {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}