.transaction{
    display: flex;
}
.transaction-side{
    width: 200px;
    background-color: gray;
}

.transaction-side__title{
    color: white;
    text-align: center;
    margin: 0 auto;
}

.transaction-main__title{
    display: flex;
}

.transaction-main__title-img{
    background-color: gainsboro;
    width: 0px;
    height: 100px;
    margin: 40px 20px;
    border-radius: 50%;
}