.transaction{
    display: flex;
}
.transaction-side{
    width: 200px;
    height: 100vh;
    background-color: gray;
}

.transaction-side__title{
    color: white;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.transaction-main{
    width: 100%;
}

.transaction-main__title{
    display: flex;
    border-bottom: 1px solid #000;
}

.transaction-main__title-img{
    background-color: gainsboro;
    width: 70px;
    height: 70px;
    margin: 10px 20px;
    border-radius: 50%;
}

.transaction-main__title-name{
    font-size: 20px;
    margin: auto 0;
    font-weight: bold;
}

.transaction-main__title-button{
    margin: 25px 5px 0 auto;
    background-color: red;
    color: white;
    height: 25px;
    padding: 0px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.transaction-main__product{
    display: flex;
    border-bottom: 1px solid #000;
}

.transaction-main__product-img{
    width: 200px;
    margin: 10px 20px;
}

.transaction-main__product-tag--name{
    font-size: 20px;
    font-weight: bold;
}

.transaction-main__message_item{
    width: 80%;
    margin: 10px ;
}

.transaction-main__message-chat{
    height: 30%;
}

.transaction-main__message_img{
    background-color: white;
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    cursor: pointer;
}

.transaction-main__message-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.transaction-main__message-chat--item{
    margin-bottom: 10px;
        padding: 8px 12px;
        /* パディングは内側に設定 */
        border-radius: 10px;
        max-width: 70%;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
}

.transaction-main__message-chat--item-user{
    display: flex;
}

.transaction-main__message-chat--item-user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gainsboro;
    margin: 5px 5px;
}

.message-item--right {
    background-color: #d1e7dd;
    align-self: flex-end;
    /* 親のFlexコンテナ内で右端に寄せる */
    margin-left: auto;
    /* 左側のマージンを自動調整して右端に寄せる */
}

.message-item--right .transaction-main__message-chat--item-user {
    /* 右側のメッセージでは、アイコンと名前の並び順を逆にする */
    flex-direction: row-reverse;
    /* 名前→アイコンの順 */
}



.message-item--right .transaction-main__message-chat--item-content {
    text-align: right;
}
